#s-1d493b96-2048-487e-8f59-400f43f1cf0d > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Maps-Screen {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 568px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Map_ZoomLevel2 {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 568px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_257 {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 24px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rich_text_207 {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rich_text_207 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rich_text_207 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rich_text_207 span#rtr-s-Rich_text_207_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_19 {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 20px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rectangle_8 {
position: absolute;
top: 0px;
left: 0px;
width: 321px;
height: 19px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rectangle_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rectangle_8 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_7 {
position: absolute;
top: 3px;
left: 41px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_7 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_7 span#rtr-s-Label_7_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_39 {
position: absolute;
top: 4px;
left: 255px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_39 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_39 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_39 span#rtr-s-Label_39_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_40 {
position: absolute;
top: 0px;
left: 122px;
width: 78px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_40 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_40 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_40 span#rtr-s-Label_40_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_18 {
position: absolute;
top: 7px;
left: 4px;
width: 34px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_27 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_27 .content {
width: 6px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_27 {
position: absolute;
top: 0px;
left: 21px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_27 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_27 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_27 span#rtr-s-Ellipse_27_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_28 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_28 .content {
width: 6px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_28 {
position: absolute;
top: 0px;
left: 28px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_28 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_28 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_28 span#rtr-s-Ellipse_28_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_29 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_29 .content {
width: 6px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_29 {
position: absolute;
top: 0px;
left: 14px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_29 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_29 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_29 span#rtr-s-Ellipse_29_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_30 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_30 .content {
width: 6px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_30 {
position: absolute;
top: 0px;
left: 7px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_30 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_30 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_30 span#rtr-s-Ellipse_30_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_31 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_31 .content {
width: 6px;
height: 6px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_31 {
position: absolute;
top: 0px;
left: 0px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_31 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_31 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_31 span#rtr-s-Ellipse_31_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_41 {
position: absolute;
top: 1px;
left: 254px;
width: 50px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_41 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_41 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Label_41 span#rtr-s-Label_41_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_7 {
position: absolute;
top: 5px;
left: 291px;
width: 25px;
height: 10px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Coles {
position: absolute;
top: 98px;
left: 120px;
width: 40px;
height: 48px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Coles {
position: absolute;
top: 28px;
left: 0px;
width: 40px;
height: 20px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coles_Count .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coles_Count .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coles_Count {
position: absolute;
top: 0px;
left: 7px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coles_Count .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coles_Count span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coles_Count span#rtr-s-Ellipse_Coles_Count_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coles_Count .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coles_Count .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coles_Count {
position: absolute;
top: 15px;
left: 12px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coles_Count .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coles_Count span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coles_Count span#rtr-s-Triangle_Coles_Count_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Woolworth {
position: absolute;
top: 300px;
left: 250px;
width: 30px;
height: 61px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Woolworth_Count .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Woolworth_Count .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Woolworth_Count {
position: absolute;
top: 15px;
left: 9px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Woolworth_Count .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Woolworth_Count span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Woolworth_Count span#rtr-s-Triangle_Woolworth_Count_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Woolworth_Count .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Woolworth_Count .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Woolworth_Count {
position: absolute;
top: 0px;
left: 4px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Woolworth_Count .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Woolworth_Count span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Woolworth_Count span#rtr-s-Ellipse_Woolworth_Count_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Woolworth {
position: absolute;
top: 31px;
left: 0px;
width: 30px;
height: 30px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Personal_Producer_Food {
position: absolute;
top: 300px;
left: 133px;
width: 30px;
height: 27px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food2 .shapert-clipping {
left: 0px;
top: 0px;
width: 8px;
height: 8px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food2 .content {
width: 8px;
height: 8px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food2 {
position: absolute;
top: 0px;
left: 22px;
width: 8px;
height: 8px;
background-color: #FF0000;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food2 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food2 span#rtr-s-Ellipse_Personal_Producer_Food2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food1 .shapert-clipping {
left: 0px;
top: 0px;
width: 8px;
height: 8px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food1 .content {
width: 8px;
height: 8px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Personal_Producer_Food1 {
position: absolute;
top: 19px;
left: 0px;
width: 8px;
height: 8px;
background-color: #FF0000;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Personal_Producer_Food1 span#rtr-s-Ellipse_Personal_Producer_Food1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Personal_Consumer_Coffee1 {
position: absolute;
top: 325px;
left: 51px;
width: 121px;
height: 43px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count1 .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count1 .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count1 {
position: absolute;
top: 14px;
left: 5px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count1 span#rtr-s-Triangle_Coffee_Count1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count1 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count1 .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count1 {
position: absolute;
top: 0px;
left: 0px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count1 span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count1 span#rtr-s-Ellipse_Coffee_Count1_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Personal_Consumer_Coffee1 {
position: absolute;
top: 28px;
left: 1px;
width: 15px;
height: 15px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee1 {
position: absolute;
top: 10px;
left: 20px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee1 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee1 span {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee1 span#rtr-s-Text_Personal_Consumer_Coffee1_0 {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Personal_Consumer_Coffee2 {
position: absolute;
top: 242px;
left: 50px;
width: 76px;
height: 43px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count2 .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count2 .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Count2 {
position: absolute;
top: 10px;
left: 5px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count2 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Count2 span#rtr-s-Triangle_Coffee_Count2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count2 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count2 .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Count2 {
position: absolute;
top: 0px;
left: 0px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count2 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count2 span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Count2 span#rtr-s-Ellipse_Coffee_Count2_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Personal_Consumer_Coffee2 {
position: absolute;
top: 28px;
left: 1px;
width: 15px;
height: 15px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee2 {
position: absolute;
top: 10px;
left: 20px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee2 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee2 span {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Coffee2 span#rtr-s-Text_Personal_Consumer_Coffee2_0 {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Personal_Consumer_Food1 {
position: absolute;
top: 477px;
left: 135px;
width: 113px;
height: 43px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food1 .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food1 .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food1 {
position: absolute;
top: 14px;
left: 5px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food1 span#rtr-s-Triangle_Coffee_Food1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food1 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food1 .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food1 {
position: absolute;
top: 0px;
left: 0px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food1 span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food1 span#rtr-s-Ellipse_Coffee_Food1_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food1 span#rtr-s-Ellipse_Coffee_Food1_1 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Personal_Consumer_Food1 {
position: absolute;
top: 28px;
left: 1px;
width: 15px;
height: 15px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food1 {
position: absolute;
top: 10px;
left: 20px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food1 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food1 span {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food1 span#rtr-s-Text_Personal_Consumer_Food1_0 {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Group_Personal_Consumer_Food2 {
position: absolute;
top: 403px;
left: 183px;
width: 101px;
height: 43px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food2 .shapert-clipping {
left: 0px;
top: 0px;
width: 10px;
height: 10px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food2 .content {
width: 10px;
height: 10px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Triangle_Coffee_Food2 {
position: absolute;
top: 14px;
left: 5px;
width: 10px;
height: 10px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food2 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Triangle_Coffee_Food2 span#rtr-s-Triangle_Coffee_Food2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food2 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 18px;
position: absolute;
overflow: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food2 .content {
width: 21px;
height: 18px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Ellipse_Coffee_Food2 {
position: absolute;
top: 0px;
left: 0px;
width: 21px;
height: 18px;
background-color: #00FF00;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food2 .valign {
vertical-align: middle;
text-align: center;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food2 span {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #shapewrapper-s-Ellipse_Coffee_Food2 span#rtr-s-Ellipse_Coffee_Food2_0 {
color: #0000FF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Image_Personal_Consumer_Food2 {
position: absolute;
top: 28px;
left: 1px;
width: 15px;
height: 15px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food2 {
position: absolute;
top: 10px;
left: 20px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food2 .valign {
vertical-align: middle;
text-align: left;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food2 span {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d #s-Text_Personal_Consumer_Food2 span#rtr-s-Text_Personal_Consumer_Food2_0 {
color: #0000FF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-1d493b96-2048-487e-8f59-400f43f1cf0d > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}