#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Group_Head_Bar {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 24px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_text_207 {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_text_207 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_text_207 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_text_207 span#rtr-s-Rich_text_207_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Group_19 {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 20px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_8 {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 19px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_8 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_7 {
position: absolute;
top: 3px;
left: 41px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_7 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_7 span#rtr-s-Label_7_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_39 {
position: absolute;
top: 4px;
left: 254px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_39 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_39 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_39 span#rtr-s-Label_39_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_40 {
position: absolute;
top: 0px;
left: 122px;
width: 78px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_40 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_40 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_40 span#rtr-s-Label_40_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Group_18 {
position: absolute;
top: 7px;
left: 4px;
width: 34px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_27 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_27 .content {
width: 6px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_27 {
position: absolute;
top: 0px;
left: 21px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_27 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_27 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_27 span#rtr-s-Ellipse_27_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_28 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_28 .content {
width: 6px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_28 {
position: absolute;
top: 0px;
left: 28px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_28 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_28 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_28 span#rtr-s-Ellipse_28_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_29 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_29 .content {
width: 6px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_29 {
position: absolute;
top: 0px;
left: 14px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_29 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_29 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_29 span#rtr-s-Ellipse_29_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_30 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_30 .content {
width: 6px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_30 {
position: absolute;
top: 0px;
left: 7px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_30 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_30 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_30 span#rtr-s-Ellipse_30_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_31 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_31 .content {
width: 6px;
height: 6px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_31 {
position: absolute;
top: 0px;
left: 0px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_31 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_31 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #shapewrapper-s-Ellipse_31 span#rtr-s-Ellipse_31_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_41 {
position: absolute;
top: 1px;
left: 253px;
width: 50px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_41 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_41 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_41 span#rtr-s-Label_41_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Image_7 {
position: absolute;
top: 5px;
left: 290px;
width: 25px;
height: 10px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Line_1 {
position: absolute;
top: 520px;
left: 0px;
width: 320px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Chat {
position: absolute;
top: 533px;
left: 104px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Chat .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Chat span {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Chat span#rtr-s-Label_Chat_0 {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_List {
position: absolute;
top: 534px;
left: 20px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_List .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_List span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_List span#rtr-s-Label_List_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Contact {
position: absolute;
top: 533px;
left: 264px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Contact .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Contact span {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Contact span#rtr-s-Label_Contact_0 {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_History {
position: absolute;
top: 533px;
left: 183px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_History .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_History span {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_History span#rtr-s-Label_History_0 {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_Text_Back_Menu_Bar {
position: absolute;
top: 24px;
left: 0px;
width: 320px;
height: 40px;
background-color: #CCCCCC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_Text_Back_Menu_Bar .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_Text_Back_Menu_Bar span {
color: #F3F3F3;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_Text_Back_Menu_Bar span#rtr-s-Rich_Text_Back_Menu_Bar_0 {
color: #F3F3F3;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_291 {
position: absolute;
top: 31px;
left: 9px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_291 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_291 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_291 span#rtr-s-Label_291_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_1 {
position: absolute;
top: 32px;
left: 130px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_1 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_1 span#rtr-s-Text_1_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Group_Item1 {
position: absolute;
top: 63px;
left: 0px;
width: 320px;
height: 60px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item1 {
position: absolute;
top: 0px;
left: 0px;
width: 316px;
height: 56px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item1 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item1 span#rtr-s-Rectangle_Item1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Image_Item1 {
position: absolute;
top: 5px;
left: 7px;
width: 78px;
height: 51px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item1 {
position: absolute;
top: 5px;
left: 74px;
width: 110px;
height: 24px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item1 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item1 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item1 span#rtr-s-Text_Name_Item1_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item1 span#rtr-s-Text_Name_Item1_1 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item1 {
position: absolute;
top: 28px;
left: 74px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item1 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item1 span {
color: #000000;
text-align: left;
text-decoration: line-through;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item1 span#rtr-s-Text_Price_Was_Item1_0 {
color: #000000;
text-align: left;
text-decoration: line-through;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item1 {
position: absolute;
top: 28px;
left: 124px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item1 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item1 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item1 span#rtr-s-Text_Price_Is_Item1_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item1 {
position: absolute;
top: 10px;
left: 264px;
width: 40px;
height: 40px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item1 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item1 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item1 span#rtr-s-Label_Details_Item1_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Group_Item2 {
position: absolute;
top: 121px;
left: 0px;
width: 320px;
height: 60px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item2 {
position: absolute;
top: 0px;
left: 0px;
width: 316px;
height: 56px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item2 .valign {
vertical-align: middle;
text-align: center;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_Item2 span#rtr-s-Rectangle_Item2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Image_Item2 {
position: absolute;
top: 5px;
left: 7px;
width: 78px;
height: 51px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 {
position: absolute;
top: 0px;
left: 72px;
width: 181px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 span#rtr-s-Text_Name_Item2_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 span#rtr-s-Text_Name_Item2_1 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Name_Item2 span#rtr-s-Text_Name_Item2_2 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item2 {
position: absolute;
top: 28px;
left: 74px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item2 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item2 span {
color: #000000;
text-align: left;
text-decoration: line-through;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Was_Item2 span#rtr-s-Text_Price_Was_Item2_0 {
color: #000000;
text-align: left;
text-decoration: line-through;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item2 {
position: absolute;
top: 28px;
left: 124px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item2 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item2 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Text_Price_Is_Item2 span#rtr-s-Text_Price_Is_Item2_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item2 {
position: absolute;
top: 10px;
left: 264px;
width: 40px;
height: 40px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item2 .valign {
vertical-align: middle;
text-align: left;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item2 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_Details_Item2 span#rtr-s-Label_Details_Item2_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}