#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rich_text_207 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_39 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_40 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_27 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_28 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_29 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_30 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Ellipse_31 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_41 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Line_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_42 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_34 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_21 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 #s-Label_72 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-45bd4d9e-4a67-4f09-aa35-f17e146ee1a7 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}