#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Map_ZoomLevel2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rich_text_207 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_39 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_40 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_27 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_28 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_29 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_30 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_31 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_41 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_Search_Symbol {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_Filter {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_WishList {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rectangle_Filter {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_Settings {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rectangle_WishList {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rectangle_Settings {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Coles {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_Coles_Count {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Triangle_Coles_Count {
rotation: 180.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Triangle_Woolworth_Count {
rotation: 180.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_Woolworth_Count {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Woolworth {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_Personal_Producer2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_Personal_Producer3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Ellipse_Personal_Producer1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Label_Menu {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Rectangle_Menu {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Food_Icon_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Food_Icon_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Coffee_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-Image_Coffee_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 #s-plus-green-line {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-8607e989-d059-45d3-964b-dcbb923352f6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}