#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Map_ZoomLevel1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_207 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_27 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_28 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_29 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_30 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_31 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_41 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_Search_Symbol {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_Filter {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_WishList {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_Filter {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_Settings {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_WishList {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_Settings {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Coles {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Coles_Count {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Triangle_Coles_Count {
rotation: 180.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Triangle_Woolworth_Count {
rotation: 180.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Woolworth_Count {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Woolworth {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Personal_Producer_Coffee2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Personal_Producer_Coffee1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_Menu {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_Menu {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Food_Icon_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Food_Icon_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Coffee_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_Coffee_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-plus-green-line {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Personal_Producer_Food2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_Personal_Producer_Food1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}