#s-fc697a88-7566-4f61-bc2c-c40c8efdba79 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-fc697a88-7566-4f61-bc2c-c40c8efdba79 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}