#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Search_Symbol {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Filter {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_WishList {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Filter {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Settings {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_WishList {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Settings {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Menu {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Menu {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
filter: alpha(opacity=0) ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Food_Icon_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Food_Icon_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Coffee_BW {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Coffee_Color {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-plus-green-line {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rich_text_207 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_39 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_27 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_28 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_29 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_30 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_31 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_41 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}