#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Search_Symbol {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Filter {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_WishList {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Filter {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Settings {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_WishList {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Settings {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_Menu {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_Menu {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Food_Icon_BW {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Food_Icon_Color {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Coffee_BW {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_Coffee_Color {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-plus-green-line {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rich_text_207 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_8 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_7 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_39 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_27 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_28 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_29 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_30 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_31 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_41 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_7 {
-ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}